.caixa {
    background-color: white !important;
    padding: 20px 10px 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 13px;
}

.caixa tr td, .caixa .form-group label {
    color: grey !important;
}

.caixa .btn .material-icons {
    font-size: 13px;
    color: grey;
}

.caixa.formulario label {
    font-size: 13px !important;
    color: #aaaaaa !important;
    margin-bottom: 0;
    margin-top: 5px;
}

.caixa.formulario input.form-control, .caixa.formulario select.form-control {
    font-size: 13px !important;
}

.caixa .botao-principal {
    padding: 7px 18px;
    font-size: 13px;
}

.caixa .botao-cancelar {
    margin-right: 10px;
    color: grey;
}

.caixa .titulo-secundario {
    padding-left: 0;
    font-size: 20px;
    color: grey;
}
