.grid {
    margin-bottom: 40px;
}

.grid .caixa-de-selecao {
    padding-left: 0;
}

.grid .caixa-de-numero {
    padding: 0;
}

.grid .acoes-grid {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.grid .acoes-grid .btn {
    padding: 5px;
}

.grid tr:hover {
    background-color: #67677c12;
}