.paginacao {
    text-align: center;
    min-height: 30px;
    margin: 10px;

    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

.pagination {
    margin: 0;
    padding-bottom: 10px;
}

.page-item .page-link {
    border: none;
    color: black;
}

.page-item.active .page-link {
    background-color: rgba(66, 58, 58, 0.45);
    border-radius: 50%;
}

.page-item.active .page-link:hover {
    background-color: rgba(66, 58, 58, 0.6);
}
